# --- Hugo ---
# Pasta de build final (Gerada automaticamente pelo GitHub Actions, não envie a local)
public/
# Arquivos de cache/lock do Hugo
.hugo_build.lock
# Recursos gerados automaticamente (imagens redimensionadas, CSS compilado)
resources/_gen/

# --- Node.js / NPM ---
# Dependências instaladas (nunca devem ser commitadas)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Sistema Operacional ---
# Mac
.DS_Store
# Windows
Thumbs.db
Desktop.ini

# --- Editores de Código ---
# Configurações locais do VS Code (opcional, mas recomendado para projetos pessoais)
.vscode/
*.swp
*.swo
.idea/